body{
    background-color: #eaeaea;
    font-family: helvetica;
}

.navbar1{
    background: black;
}

.navbar1 h1{
    color: white;
    text-align: left;
    font-size: 36px;
    line-height: 45px;
}

.titlePost h2{
    font-size: 18px;
    font-family: helvetica;
    line-height: 40px;
    font-weight: bold; 
     
}

#wrapper1{
    margin-left: 0;
    padding-bottom: 4px;
}

#header2{
    background-color: white;
    color: black;
    text-align: center;
}

#header2 h2{
    padding: 18px;
    font-weight: bold;
}

.post{
    text-align: center;
}

.postTop{
    background-color: white;
    margin-top: 60px;
}

.commets{
    background-color: white;
}

.datePost {
    line-height: 40px;
    text-align: right;
}

.contentComment{
    padding: 10px 24px;
    padding-bottom: 2px;
    background-color: white;
}

span{
    color: #a5a7aa;
}

img{
    border: 1px solid #eeefef;
}